<p>Количество пересадок</p>

<div class="list-checkbox">

  <label class="checkbox">
    <input type="checkbox" (click)="checkFilterValues($event)"
           name="0">
    <p>Все</p>
  </label>
  <label class="checkbox">
    <input type="checkbox" (input)="checkFilterValues($event)"
           name="1">
    <p>Без пересадок</p>
  </label>
  <label class="checkbox">
    <input type="checkbox" (input)="checkFilterValues($event)"
           name="2">
    <p>1 пересадка</p>
  </label>
  <label class="checkbox">
    <input type="checkbox" (input)="checkFilterValues($event)"
           name="3">
    <p>2 пересадки</p>
  </label>
  <label class="checkbox">
    <input type="checkbox" (input)="checkFilterValues($event)"
           name="4">
    <p>3 пересадки</p>
  </label>

  <hr>

<!--  <app-checkbox *ngFor="let item of [1, 2, 3]"-->
<!--    (checkEvent)="checkFilterValues($event)"-->
<!--    [numberCheckbox]="item">-->
<!--  </app-checkbox>-->

</div>
