<h3 class="sidebar-title">Количество пересадок</h3>

<div class="list-checkbox">

  <label class="checkbox">
    <input type="checkbox" (input)="saveFilterValues($event)"
           name="0" [ngModel]="getCheckboxValue(0)"
           class="checkbox-input">
    <div class="checkbox-icon"></div>
    <p class="checkbox-text">Все</p>
  </label>
  <label class="checkbox">
    <input type="checkbox" (input)="saveFilterValues($event)"
           name="1" [ngModel]="getCheckboxValue(1)"
           class="checkbox-input">
    <div class="checkbox-icon"></div>
    <p class="checkbox-text">Без пересадок</p>
  </label>
  <label class="checkbox">
    <input type="checkbox" (input)="saveFilterValues($event)"
           name="2" [ngModel]="getCheckboxValue(2)"
           class="checkbox-input">
    <div class="checkbox-icon"></div>
    <p class="checkbox-text">1 пересадка</p>
  </label>
  <label class="checkbox">
    <input type="checkbox" (input)="saveFilterValues($event)"
           name="3" [ngModel]="getCheckboxValue(3)"
           class="checkbox-input">
    <div class="checkbox-icon"></div>
    <p class="checkbox-text">2 пересадки</p>
  </label>
  <label class="checkbox">
    <input type="checkbox" (input)="saveFilterValues($event)"
           name="4" [ngModel]="getCheckboxValue(4)"
           class="checkbox-input">
    <div class="checkbox-icon"></div>
    <p class="checkbox-text">3 пересадки</p>
  </label>

</div>
