<div class="ticket style-card">

  <div class="row">

    <div class="ticket-sidebar">
      <div class="ticket-logo">
        <img src="/assets/img/logos/turkish-airlines-logo.png">
      </div>
      <button class="btn-popup" (click)="showPopup()"
              (click)="sendTicketInfo(ticket)">
        Купить<br>
        за {{convertCurrency(ticket.price)}} {{getCurrencySign()}}
      </button>
    </div>

    <div class="ticket-content">
      <div class="ticket-info">

        <div class="ticket-start-plane">
          <time class="ticket-time">{{ticket.departure_time}}</time>
          <p class="ticket-place">{{ticket.origin}}, {{ticket.origin_name}}</p>
          <time class="ticket-date">{{ticket.departure_date}}</time>
        </div>

        <p class="ticket-transfer-plane">{{ticket.stops}} {{transferWord(ticket.stops)}}</p>

        <div class="ticket-end-plane">
          <time class="ticket-time">{{ticket.arrival_time}}</time>
          <p class="ticket-place">{{ticket.destination}}, {{ticket.destination_name}}</p>
          <time class="ticket-date">{{ticket.arrival_date}}</time>
        </div>

      </div>
    </div>

  </div>

</div>
