<div class="ticket style-card">

  <div class="row">

    <div class="ticket-sidebar">
      <div class="ticket-logo">
        <img src="/assets/img/logos/turkish-airlines-logo.png">
      </div>
      <button class="btn-popup" (click)="showPopup()">
        Купить<br>
        за {{convertCurrency(ticket.price)}} {{getCurrencySign()}}
      </button>
    </div>

    <div class="ticket-content">
      {{ticket.origin_name}} - {{ticket.stops}} -> {{ticket.destination_name}}
    </div>

  </div>

</div>
