<div class="ticket style-card">

  <div class="row">

    <div class="ticket-sidebar">
      <div class="ticket-logo">
        <img src="/assets/img/logos/turkish-airlines-logo.png">
      </div>
      <button class="btn-popup" (click)="showPopup()"
              (click)="sendTicketInfo(ticket)">
        Купить<br>
        за {{convertCurrency(ticket.price)}} {{getCurrencySign()}}
      </button>
    </div>

    <div class="ticket-content">
<!--      {{ticket.origin_name}} - {{ticket.stops}} -> {{ticket.destination_name}}-->
      <div class="ticket-info">

        <div class="ticket-start-plane">
          <time class="ticket-time">16:20</time>
          <p class="ticket-place">VVO, Владивосток</p>
          <time class="ticket-date">12.05.18</time>
        </div>

        <p class="ticket-transfer-plane">3 пересадки</p>

        <div class="ticket-end-plane">
          <time class="ticket-time">22:10</time>
          <p class="ticket-place">TLV, Тель-Авив</p>
          <time class="ticket-date">12.05.18</time>
        </div>

      </div>
    </div>

  </div>

</div>
